
body{
  padding:0 16px;
}

h1{
  font-size: 32px;
  line-height: 48px;
}
.wave{
  font-size: 24px;
  line-height: 32px;
}
button{
  padding: 12px 28px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color:#454545;
  background-color: #fff;
  border: 1px solid #454545;
  border-radius: 8px;
  margin: 32px;
}
button:hover{
  color:#fff;
  background-color: #454545;
  border: 1px solid #454545;
  border-radius: 8px;
  margin: 32px;
}
button:focus{
  outline: none;
  border:2px solid #2B6B90;
}

/* nav*/
nav{
  width: 100%;
  padding: 16px;
}
#navwrap{
  width: 100%;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
}
.navlinkWrap{
  float: right;
  width: 240px;
  text-align: right;
}
nav>a{
  color: #454545;
}
.navlink{
  height: 24px;
  padding-left: 32px;
  display: inline-block;
  vertical-align:middle;
}
.caret{opacity: 0;}

.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 136px 0 40px 0;
}
#introCon{
  width: calc(100% );
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#workCon{
  margin-top: 160px;
}

/*shelf*/
.experience{
  padding:0;
  padding: 64px 0;
  overflow-x: hidden;
}
.exptitle{
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.exptitle img{height:24px;display: inline;margin-right:8px;vertical-align: middle;}
.expdescription{
  max-width: 600px;
  margin: 16px 0px;
  color: #767676;
  font-size: 12px;
  line-height: 20px;
}
.showcase{
  width: 100%;
  padding: 16px 2px;
  border: 1px solid white;
  border-radius: 24px;
}
.showcase::-webkit-scrollbar { display: none;}

.project{
  width: 280px;
  height: 400px;
  padding: 0;
  margin: 0 12px 0 0;
  border-radius: 16px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 2px 2px 10px rgba(0, 0, 0, 0.08);
}
.showcase a{color:#676767;}
.showcase a:hover{color:#165377;}

.project img{
  text-align: center;
  width: 100%;
  height: auto;
}
.pDes{
  padding: 0 16px;
}
/*shelf*/

/*footer*/
.footer{
  margin-top: 40px;
  border-top: 1px solid #DEDEDE;
  width: 100%;
  color:#767676;
  text-align: center;
  padding: 56px 0;
  margin-left: auto;
  margin-right:  auto;
}
.fIcons{
  margin: 0 4px;
  display: inline-block;
}

.fIcons:hover{
  border-radius: 100%;
  border: 2px solid 767676;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .1);;
}

/*contact*/
.footer > form{
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}
input,textarea{
  width:100%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  display: inline-block;
  margin-bottom: 16px;
  border: 2px solid white;
  background-color: #F8F8F8;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  -webkit-appearance: none;
}
input::placeholder,textarea::placeholder{
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
input:focus,textarea:focus{outline:none; border:2px solid #4887AC;background-color: white;}
input:hover,textarea:hover{outline:none; border:2px solid #F0F0F0;background-color: white;}
textarea:active{background-color: white; border: 2px solid #9E9E9E;}
textarea{display: block; height: 64px; }
input[type=submit]{display: block; margin-left: auto;margin-right: auto;}
input[type=submit]:hover{background-color: #7FA8A6; color: #9E9E9E;}
input::placeholder,textarea::placeholder{color: #9E9E9E;font-size: 16px;}
#my-form-button{margin:16px 0 80px 0; padding: 8px 24px;}
