h1, h2, h3, h4, p0, p, p1, p2, p3{
  text-align: center;
  margin: 8px 0;
  letter-spacing: .004em;
}
p4{margin: 4px 0;}
img, video{
  max-width: 100%;
  margin: 0;
}
h1{
  margin: 0 0 8px 0;
}
h3{
  margin-top: 64px;
}
h4{
  margin: 0;
}
.bBreak{
  border-bottom: 1px solid #dedede;
  padding: 80px 0;
}
.center, .center p{text-align: center !important;}
.container{
  padding-top: 0;
  text-align: center;
}
.projectContent p,.projectContent p3,.projectContent p2,.projectContent p1{
  text-align: left;
}
/*.projectContent p,.projectContent p1{
  text-align: left;
}*/
.projectIntro{
  padding: 80px 240px;
}
.projectInsight{
  padding: 64px 160px;
}
.projectInsight>img{
  margin-bottom: 8px;
}
.projectNav{
  padding: 32px 0;
}
.roundCorner img{
  border-radius: 24px;
}
.sub1,.sub2,.sub3,.sub4,.sub5,.sub6,.sub7,.sub8,.sub9,.sub10,.sub11,.sub12{
  display: inline-block;
  margin: 64px 8px 0 8px;
  vertical-align: top;
  text-align: left;
  padding: 8px;
}
.sub1 div,.sub2 div,.sub3 div,.sub4 div,.sub5 div,.sub6 div,.sub7 div,.sub8 div,.sub9 div,.sub10 div,.sub11 div,.sub12 div{
padding:0;
margin: 0;
}
.sub1 img,.sub2 img,.sub3 img,.sub4 img,.sub5 img,.sub6 img,.sub7 img,.sub8 img,.sub9 img,.sub10 img,.sub11 img,.sub12 img{
max-height: 80vh;
}
.sub4 h2{
  text-align: left;
}
.sub3{
  width: 272px;
}
.sub4{
  width: 463px;
  margin-right: 112px;
}
.sub5{
  width: 464px;
}
.sub6{
  width: 560px;
}
.sub7{
  width: 656px;
}
.sub8{
  width: 862px;
}
.spacer{
  margin-right: 96px !important;
}
.fullSpan, .fullSpan p1{
  text-align: center;
}


/*

p0{
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  color: #454545;
  display: block;
  margin: -16px 0 40px 0;
}


.fullSpan{
  margin:16px 0 !important;
  text-align: center !important;
}
.fullSpan img{
  margin: 0 !important;
}

.projectIntro{
  text-align: center;
  padding-bottom: 80px;
}
.projectIntro>img{
  max-height: 284px;
  margin: 48px 0;
}
.projectContent{
  padding: 80px 0;
  text-align: center;
}
.projectContent p{
  margin-top: 0;
  color: #767676;
}
.projectContent div{
  text-align: left;
}

p2{
  color:#767676;
}
.projectContent div,{
  vertical-align: text-top;
  margin: 0 96px 40px 0;
  max-width: 100%;
}

*/
