h1, h2, h3, h4, p0, p, p1, p2, p3{
  text-align: center;
  margin: 8px 0;
}
p4{margin: 4px 0;}
img, video{
  max-width: 100%;
  margin: 0;
}
h1{
  margin: 0 0 8px 0;
}
h3{
  margin-top: 64px;
}
h4{
  margin: 0;
  font-weight: 300;
}
.bBreak{
  border-bottom: 1px solid #dedede;
  padding: 80px 0;
}
.center{text-align: center !important;}
.container{
  padding-top: 0;
  text-align: center;
}
.projectContent p,.projectContent p3,.projectContent p2{
  color: #767676;
}
/*.projectContent p,.projectContent p1{
  text-align: left;
}*/
.projectIntro{
  padding: 80px 240px;
}
.projectInsight{
  padding: 64px;
}
.projectInsight>img{
  margin-bottom: 8px;
}
.roundCorner img{
  border-radius: 24px;
}
.sub1,.sub2,.sub3,.sub4,.sub5,.sub6,.sub7,.sub8,.sub9,.sub10,.sub11,.sub12{
  display: inline-block;
  margin: 64px 8px 0 8px;
  vertical-align: top;
  text-align: left;
  padding: 8px;
}
.sub3{
  width: 272px;
}
.sub4{
  width: 463px;
  margin-right: 112px;
}
.sub6{
  width: 656px;
}
.sub7{
  width: 656px;
}
.fullSpan{
  text-align: center;
}


/*

p0{
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  color: #454545;
  display: block;
  margin: -16px 0 40px 0;
}


.fullSpan{
  margin:16px 0 !important;
  text-align: center !important;
}
.fullSpan img{
  margin: 0 !important;
}

.projectIntro{
  text-align: center;
  padding-bottom: 80px;
}
.projectIntro>img{
  max-height: 284px;
  margin: 48px 0;
}
.projectContent{
  padding: 80px 0;
  text-align: center;
}
.projectContent p{
  margin-top: 0;
  color: #767676;
}
.projectContent div{
  text-align: left;
}

p2{
  color:#767676;
}
.projectContent div,{
  vertical-align: text-top;
  margin: 0 96px 40px 0;
  max-width: 100%;
}
.projectProcess img{
  max-width: 656px;
}
.projectNav{
  text-align: center;
  padding: 0 0 64px 0;
}


.stick{
  position: sticky;
}
*/
